<launch>

  <rosparam file="$(find worms_control)/config/worms_control.yaml" command="load"/>


    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/worms" args="j_coxa_lf_position_controller j_coxa_rf_position_controller j_coxa_lm_position_controller j_coxa_rm_position_controller j_coxa_lr_position_controller j_coxa_rr_position_controller j_thigh_lf_position_controller j_thigh_rf_position_controller j_thigh_lm_position_controller j_thigh_rm_position_controller j_thigh_lr_position_controller j_thigh_rr_position_controller j_shin_lf_position_controller j_shin_rf_position_controller j_shin_lm_position_controller j_shin_rm_position_controller j_shin_lr_position_controller j_shin_rr_position_controller joint_state_controller"/>
    
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/worms/joint_states" />
  </node>

</launch>
