<?xml version="1.0" ?>
<robot name="worms"  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find worms_description)/urdf/worms_urdf.xacro" />
  
  <link name="base_link"/>

    <xacro:worms parent="base_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:worms>
    
  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/worms/</robotNamespace>
    </plugin>
  </gazebo>
  
</robot>
