<launch>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find worms_gazebo)/worlds/empty.world"/> -->
    <arg name="world_name" value="$(find worms_gazebo)/worlds/ramp1.world"/>
    <arg name="paused" value="true"/>
  </include>
  
   <param name="robot_description" textfile="$(find worms_description)/urdf/worms.urdf" />  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find worms_description)/urdf/worms.urdf -urdf -model worms -z 0.2" />



 
 <include file="$(find worms_control)/launch/worms_control.launch"/> 


  <node name="worms_walker" pkg="worms_gazebo" type="walker.py" />



</launch>
